<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PhoenixAPI suite" verbose="1">
  
<test name="Inward flow1">
    <classes>
      <class name="com.APITest.LoginAPITest"/>
      <class name="com.APITest.UserdetailsAPITest"/>
      <class name="com.APITest.CountAPITest"/>
      <class name="com.APITest.MasterFDAPITest"/>
       <class name="com.APITest.CreateJobAPITest"/>
    </classes>
  </test>
</suite>